version: '3.8'

services:
  web:
    build: .
    ports:
      - "8000:80"
    volumes:
      - .:/var/www/html
    environment:
      - DATABASE_URL=postgresql://mobility_db_user:243j1kW3g4rlkksNDdMehLHpplQVRJTa@db:5432/mobility_db
    depends_on:
      db:
        condition: service_healthy
    networks:
      - mobility-network

  db:
    image: postgres:13
    environment:
      POSTGRES_DB: mobility_db
      POSTGRES_USER: mobility_db_user
      POSTGRES_PASSWORD: 243j1kW3g4rlkksNDdMehLHpplQVRJTa
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init-scripts:/docker-entrypoint-initdb.d
    ports:
      - "5432:5432"
    networks:
      - mobility-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U mobility_db_user -d mobility_db"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:

networks:
  mobility-network:
    driver: bridge